<div class="container">
  <div class="row">
    <div class="resize_main_image clearfix">
      <div class="imgHolder"><%=image_tag("/images/recurly.png")   %> <span>Application</span></div>
    </div>
  </div>

  <div class="row">
  <div class="span6 allBtns offset1">
    <%= link_to :Plans ,plans_path,:class=>"btn btn-primary"%>
    <%= link_to :Users ,users_path,:class=>"btn btn-primary"%>
    <%= link_to :NewSubscription ,new_subscription_path,:class=>"btn btn-primary"%>
  </div>
</div>
</div>



